version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: monthly
      time: "04:00"
    open-pull-requests-limit: 10
    ignore:
      # Node.js typings must be constrained to the oldest supported version
      # to ensure compatibility, so newer versions must be ignored.
      - dependency-name: "@types/node"
